# Lab-customer-analysis-round-2

For this lab, we will be using the `marketing_customer_analysis.csv` file that you can find in the `files_for_lab` folder. Check out the `files_for_lab/about.md` to get more information if you are using the Online Excel.

**Note**: For the next labs we will be using the same data file. Please save the code, so that you can re-use it later in the labs following this lab.

In [1]:
import pandas as pd
import numpy as np
import datetime

## 1. Show the dataframe shape.

In [4]:
data.shape

(10910, 26)

## 2. Standardize header names.

In [3]:
data = pd.read_csv(r"files_for_lab\csv_files\marketing_customer_analysis.csv")
data.head().T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
Customer,DK49336,KX64629,LZ68649,XL78013,QA50777
State,Arizona,California,Washington,Oregon,Oregon
Customer Lifetime Value,4809.22,2228.53,14947.9,22332.4,9025.07
Response,No,No,No,Yes,No
Coverage,Basic,Basic,Basic,Extended,Premium
Education,College,College,Bachelor,College,Bachelor
Effective To Date,2/18/11,1/18/11,2/10/11,1/11/11,1/17/11
EmploymentStatus,Employed,Unemployed,Employed,Employed,Medical Leave
Gender,M,F,M,M,F
Income,48029,0,22139,49078,23675
Location Code,Suburban,Suburban,Suburban,Suburban,Suburban
Marital Status,Married,Single,Single,Single,Married
Monthly Premium Auto,61,64,100,97,117
Months Since Last Claim,7,3,34,10,NaN
Months Since Policy Inception,52,26,31,3,31
Number of Open Complaints,0,0,0,0,NaN
Number of Policies,9,1,2,2,7
Policy Type,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto
Policy,Corporate L3,Personal L3,Personal L3,Corporate L3,Personal L2
Renew Offer Type,Offer3,Offer4,Offer3,Offer2,Offer1
Sales Channel,Agent,Call Center,Call Center,Branch,Branch
Total Claim Amount,292.8,744.924,480,484.013,707.926
Vehicle Class,Four-Door Car,Four-Door Car,SUV,Four-Door Car,Four-Door Car
Vehicle Size,Medsize,Medsize,Medsize,Medsize,Medsize
Vehicle Type,NaN,NaN,A,A,NaN

In [5]:
data = data.drop(['Unnamed: 0'], axis=1)

In [6]:
data = data.rename({'EmploymentStatus': 'employment_status'}, axis=1)

In [7]:
data.columns = data.columns.str.lower()

In [8]:
data.columns = data.columns.str.replace(' ','_')

data.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employment_status', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type'],
      dtype='object')

## 3. Which columns are numerical?

In [9]:
data._get_numeric_data().head().T

,0,1,2,3,4
customer_lifetime_value,4809.21696,2228.525238,14947.9173,22332.439460,9025.067525
income,48029.00000,0.000000,22139.0000,49078.000000,23675.000000
monthly_premium_auto,61.00000,64.000000,100.0000,97.000000,117.000000
months_since_last_claim,7.00000,3.000000,34.0000,10.000000,NaN
months_since_policy_inception,52.00000,26.000000,31.0000,3.000000,31.000000
number_of_open_complaints,0.00000,0.000000,0.0000,0.000000,NaN
number_of_policies,9.00000,1.000000,2.0000,2.000000,7.000000
total_claim_amount,292.80000,744.924331,480.0000,484.013411,707.925645

## 4. Which columns are categorical?

In [10]:
data.select_dtypes('object').head().T

,0,1,2,3,4
customer,DK49336,KX64629,LZ68649,XL78013,QA50777
state,Arizona,California,Washington,Oregon,Oregon
response,No,No,No,Yes,No
coverage,Basic,Basic,Basic,Extended,Premium
education,College,College,Bachelor,College,Bachelor
effective_to_date,2/18/11,1/18/11,2/10/11,1/11/11,1/17/11
employment_status,Employed,Unemployed,Employed,Employed,Medical Leave
gender,M,F,M,M,F
location_code,Suburban,Suburban,Suburban,Suburban,Suburban
marital_status,Married,Single,Single,Single,Married
policy_type,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto
policy,Corporate L3,Personal L3,Personal L3,Corporate L3,Personal L2
renew_offer_type,Offer3,Offer4,Offer3,Offer2,Offer1
sales_channel,Agent,Call Center,Call Center,Branch,Branch
vehicle_class,Four-Door Car,Four-Door Car,SUV,Four-Door Car,Four-Door Car
vehicle_size,Medsize,Medsize,Medsize,Medsize,Medsize
vehicle_type,NaN,NaN,A,A,NaN

## 5. Check and deal with `NaN` values.

In [11]:
data.isna().sum()

customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employment_status                   0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [12]:
#state - when state NaN response is also NaN
#response
data['state'].value_counts()
data[data['state'].isnull()].T

data['state'] = data['state'].fillna(data['state'].mode().iloc[0])
data['response'] = data['response'].fillna(data['response'].mode().iloc[0])

In [13]:
#months_since_last_claim - when months_since_last_claim NaN number_of_open_complaints is also NaN
#number_of_open_complaints - almost 80% without complaint -> change null values to 0
data['months_since_last_claim'].value_counts()
data[data['months_since_last_claim'].isnull()].T

data['months_since_last_claim'] = data['months_since_last_claim'].fillna("0")
data['number_of_open_complaints'] = data['number_of_open_complaints'].fillna("0")

In [14]:
#vehicle_class - 50% four-door / 21% two.door / 20% SUV - when vehicle_class is NaN vehicle_size is also NaN
#vehicle_size - 7251 M / 1966 S / 1071 L
data['vehicle_class'].value_counts()
data[data['vehicle_class'].isnull()].T

data['vehicle_class'] = data['vehicle_class'].fillna(data['vehicle_class'].mode().iloc[0])
data['vehicle_size'] = data['vehicle_size'].fillna(data['vehicle_size'].mode().iloc[0])

In [145]:
#vehicle_type - all vehicles are type A -> drop column because it does not add any value
data['vehicle_type'].value_counts()

data = data.drop(['vehicle_type'], axis=1)

KeyError: 'vehicle_type'

In [15]:
data.isna().sum()

customer                            0
state                               0
customer_lifetime_value             0
response                            0
coverage                            0
education                           0
effective_to_date                   0
employment_status                   0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim             0
months_since_policy_inception       0
number_of_open_complaints           0
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                       0
vehicle_size                        0
vehicle_type                     5482
dtype: int64

## 6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. _Hint_: If data from March does not exist, consider only January and February.

In [16]:
#effective_to_date = object

data["effective_to_date"] = pd.to_datetime(data['effective_to_date'])
data.dtypes

customer                                 object
state                                    object
customer_lifetime_value                 float64
response                                 object
coverage                                 object
education                                object
effective_to_date                datetime64[ns]
employment_status                        object
gender                                   object
income                                    int64
location_code                            object
marital_status                           object
monthly_premium_auto                      int64
months_since_last_claim                  object
months_since_policy_inception             int64
number_of_open_complaints                object
number_of_policies                        int64
policy_type                              object
policy                                   object
renew_offer_type                         object
sales_channel                            object
total_claim_amount                      float64
vehicle_class                            object
vehicle_size                             object
vehicle_type                             object
dtype: object

In [17]:
data["effective_to_month"] = pd.DatetimeIndex(data['effective_to_date']).month

data[data['effective_to_month'].isin(['1',"2","3"])]

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,effective_to_month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN,1

## 7. Put all the previously mentioned data transformations into a function.

In [23]:
def cleaning (data):
    data = data.drop(['Unnamed: 0'], axis=1)
    data = data.rename({'EmploymentStatus': 'employment_status'}, axis=1)
    data.columns = data.columns.str.lower()
    data.columns = data.columns.str.replace(' ','_')
    data['state'] = data['state'].fillna(data['state'].mode().iloc[0])
    data['response'] = data['response'].fillna(data['response'].mode().iloc[0])
    data['months_since_last_claim'] = data['months_since_last_claim'].fillna("0")
    data['number_of_open_complaints'] = data['number_of_open_complaints'].fillna("0")
    data['vehicle_class'] = data['vehicle_class'].fillna(data['vehicle_class'].mode().iloc[0])
    data['vehicle_size'] = data['vehicle_size'].fillna(data['vehicle_size'].mode().iloc[0])
    data = data.drop(['vehicle_type'], axis=1)
    data["effective_to_date"] = pd.to_datetime(data['effective_to_date'])
    data["effective_to_month"] = pd.DatetimeIndex(data['effective_to_date']).month
    return data

data_cleaned = cleaning(data)

KeyError: "['Unnamed: 0'] not found in axis"

## 8. BONUS

### 8.1. List Comprehensions

#### 8.1.1 Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'.

In [18]:
sentence = "The Quick Brown Fox Jumped Over The Lazy Dog"

upper_letter=[]

for letter in sentence:
    if letter.isupper():
        upper_letter.append(letter)
        
upper_letter

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

#### 8.1.2. Use a list comprehension to create a list with the same elements rounded to 2 decimal positions.

In [19]:
a = [
    0.84062117, 0.48006452, 0.7876326 , 0.77109654,
    0.44409793, 0.09014516, 0.81835917, 0.87645456,
    0.7066597 , 0.09610873, 0.41247947, 0.57433389,
    0.29960807, 0.42315023, 0.34452557, 0.4751035 ,
    0.17003563, 0.46843998, 0.92796258, 0.69814654,
    0.41290051, 0.19561071, 0.16284783, 0.97016248,
    0.71725408, 0.87702738, 0.31244595, 0.76615487,
    0.20754036, 0.57871812, 0.07214068, 0.40356048,
    0.12149553, 0.53222417, 0.9976855 , 0.12536346,
    0.80930099, 0.50962849, 0.94555126, 0.33364763
]

In [20]:
new_list = [round(i,2) for i in a]
print(new_list)

[0.84, 0.48, 0.79, 0.77, 0.44, 0.09, 0.82, 0.88, 0.71, 0.1, 0.41, 0.57, 0.3, 0.42, 0.34, 0.48, 0.17, 0.47, 0.93, 0.7, 0.41, 0.2, 0.16, 0.97, 0.72, 0.88, 0.31, 0.77, 0.21, 0.58, 0.07, 0.4, 0.12, 0.53, 1.0, 0.13, 0.81, 0.51, 0.95, 0.33]

### 8.2. Lambdas

#### 8.2.1. Using Lambda Expressions in List Comprehensions

In the following challenge, we will combine two lists using a lambda expression in a list comprehension.

To do this, we will need to introduce the zip function. The zip function returns an iterator of tuples.

The way zip function works with list has been shown below:

In this exercise we will try to compare the elements on the same index in the two lists. We want to zip the two lists and then use a lambda expression to compare if: list1 element > list2 element