# Lab-customer-analysis-round-2

For this lab, we will be using the `marketing_customer_analysis.csv` file that you can find in the `files_for_lab` folder. Check out the `files_for_lab/about.md` to get more information if you are using the Online Excel.

**Note**: For the next labs we will be using the same data file. Please save the code, so that you can re-use it later in the labs following this lab.

In [1]:
import pandas as pd
data = pd.read_csv(r'C:\Users\claud\lab-customer-analysis-round-2\files_for_lab\csv_files\marketing_customer_analysis.csv')
data

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

## 1. Show the dataframe shape.

In [3]:
print('Data frame shape (rows, columns): ', data.shape)

Data frame shape (rows, columns):  (10910, 26)

## 2. Standardize header names.

In [4]:
# removing spaces and capital letters
data.columns = [x.strip(' ').lower() for x in data.columns]
data

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

## 3. Which columns are numerical?

In [7]:
print('Numerical columns: ', list(data._get_numeric_data().columns))

Numerical columns:  ['unnamed: 0', 'customer lifetime value', 'income', 'monthly premium auto', 'months since last claim', 'months since policy inception', 'number of open complaints', 'number of policies', 'total claim amount']

## 4. Which columns are categorical?

In [8]:
cols = data.columns

num_cols = data._get_numeric_data().columns

print('Categorical columns: ', list(set(cols) - set(num_cols)))

Categorical columns:  ['vehicle type', 'education', 'location code', 'renew offer type', 'coverage', 'marital status', 'vehicle class', 'vehicle size', 'response', 'customer', 'state', 'gender', 'sales channel', 'policy type', 'effective to date', 'policy', 'employmentstatus']

## 5. Check and deal with `NaN` values.

In [9]:
# Checking NaN values
data.isnull().sum()

unnamed: 0                          0
customer                            0
state                             631
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           633
months since policy inception       0
number of open complaints         633
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

In [10]:
# Analizing possible correction for NaN

print('State mode: ', data['state'].mode())
print('Response mode: ', data['response'].mode())
print('Months since last claim mode: ', data['months since last claim'].mode())
print('Number of open complaints mode: ', data['number of open complaints'].mode())
print('Vehicle class mode: ', data['vehicle class'].mode())
print('Vehicle zie mode: ', data['vehicle size'].mode())
print('Vehicle type mode: ', data['vehicle type'].mode())

print('Vehicle type options: ', data['vehicle type'].unique())

# Here I would prefer to do something different, but I'll check it latter
# It would be more efficient create a dict with the columns with NaN
# Then do a for loop printing a new dict with the mode() for each key

State mode:  0    California
dtype: object
Response mode:  0    No
dtype: object
Months since last claim mode:  0    3.0
dtype: float64
Number of open complaints mode:  0    0.0
dtype: float64
Vehicle class mode:  0    Four-Door Car
dtype: object
Vehicle zie mode:  0    Medsize
dtype: object
Vehicle type mode:  0    A
dtype: object
Vehicle type options:  [nan 'A']

In [11]:
# Correcting NaN values
data['state'] = data['state'].fillna(str(data['state'].mode()))
data['response'] = data['response'].fillna(str(data['response'].mode()))
data['months since last claim'] = data['months since last claim'].fillna(str(data['months since last claim'].mode()))
data['number of open complaints'] = data['number of open complaints'].fillna(str(data['number of open complaints'].mode()))
data['vehicle class'] = data['vehicle class'].fillna(str(data['vehicle class'].mode()))
data['vehicle size'] = data['vehicle size'].fillna(str(data['vehicle size'].mode()))
data['vehicle type'] = data['vehicle type'].fillna(str(data['vehicle type'].mode()))

# I thought about creating a list with the columns I want to change
# Then running a for loop on this list making the changes

# I also tried a function to do the changes, but I got an error
#data_test = data

#def clean (x):
#    for i in x:
#        if i.isnull()==True:
#            return x.mode()
#        else:
#            return i

#data_test['state'] = data_test['state'].apply(clean)
#data['response'] = data['response'].apply(clean)
#data['months since last claim'] = data['months since last claim'].apply(clean)
#data['number of open complaints'] = data['number of open complaints'].apply(clean)
#data['vehicle class'] = data['vehicle class'].apply(clean)
#data['vehicle size'] = data['vehicle size'].apply(clean)
#data['vehicle type'] = data['vehicle type'].apply(clean)

#data_test.isnull().sum()

In [12]:
# Checking if the changes worked
data.isnull().sum()

unnamed: 0                       0
customer                         0
state                            0
customer lifetime value          0
response                         0
coverage                         0
education                        0
effective to date                0
employmentstatus                 0
gender                           0
income                           0
location code                    0
marital status                   0
monthly premium auto             0
months since last claim          0
months since policy inception    0
number of open complaints        0
number of policies               0
policy type                      0
policy                           0
renew offer type                 0
sales channel                    0
total claim amount               0
vehicle class                    0
vehicle size                     0
vehicle type                     0
dtype: int64

## 6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. _Hint_: If data from March does not exist, consider only January and February.

In [13]:
# Converting the column into date
data['effective to date'] = pd.to_datetime(data['effective to date'], errors='coerce')
data['effective to date']

0       2011-02-18
1       2011-01-18
2       2011-02-10
3       2011-01-11
4       2011-01-17
           ...
10905   2011-01-19
10906   2011-01-06
10907   2011-02-06
10908   2011-02-13
10909   2011-01-08
Name: effective to date, Length: 10910, dtype: datetime64[ns]

In [14]:
# Creating a function to return the month
y = lambda x: x.month

# Creating a column with just the month by applying the new function 
data['just_month'] = data['effective to date'].apply(y)
print(data['just_month'])

0        2
1        1
2        2
3        1
4        1
        ..
10905    1
10906    1
10907    2
10908    2
10909    1
Name: just_month, Length: 10910, dtype: int64

In [15]:
# Filtering only the information for the first quarter
first_quarter = data[(data['just_month']==1) | (data['just_month']==2) | (data['just_month']==3)] 
print(first_quarter)

       unnamed: 0 customer                           state  \
0               0  DK49336                         Arizona
1               1  KX64629                      California
2               2  LZ68649                      Washington
3               3  XL78013                          Oregon
4               4  QA50777                          Oregon
...           ...      ...                             ...
10905       10905  FE99816                          Nevada
10906       10906  KX53892                          Oregon
10907       10907  TL39050                         Arizona
10908       10908  WA60547                      California
10909       10909  IV32877  0    California\ndtype: object

       customer lifetime value                response  coverage education  \
0                  4809.216960                      No     Basic   College
1                  2228.525238                      No     Basic   College
2                 14947.917300                      No     Basic  Bachelor
3                 22332.439460                     Yes  Extended   College
4                  9025.067525                      No   Premium  Bachelor
...                        ...                     ...       ...       ...
10905             15563.369440                      No   Premium  Bachelor
10906              5259.444853                      No     Basic   College
10907             23893.304100                      No  Extended  Bachelor
10908             11971.977650                      No   Premium   College
10909              6857.519928  0    No\ndtype: object     Basic  Bachelor

      effective to date employmentstatus gender  ...  number of policies  \
0            2011-02-18         Employed      M  ...                   9
1            2011-01-18       Unemployed      F  ...                   1
2            2011-02-10         Employed      M  ...                   2
3            2011-01-11         Employed      M  ...                   2
4            2011-01-17    Medical Leave      F  ...                   7
...                 ...              ...    ...  ...                 ...
10905        2011-01-19       Unemployed      F  ...                   7
10906        2011-01-06         Employed      F  ...                   6
10907        2011-02-06         Employed      F  ...                   2
10908        2011-02-13         Employed      F  ...                   6
10909        2011-01-08       Unemployed      M  ...                   3

          policy type        policy  renew offer type sales channel  \
0      Corporate Auto  Corporate L3            Offer3         Agent
1       Personal Auto   Personal L3            Offer4   Call Center
2       Personal Auto   Personal L3            Offer3   Call Center
3      Corporate Auto  Corporate L3            Offer2        Branch
4       Personal Auto   Personal L2            Offer1        Branch
...               ...           ...               ...           ...
10905   Personal Auto   Personal L1            Offer3           Web
10906   Personal Auto   Personal L3            Offer2        Branch
10907  Corporate Auto  Corporate L3            Offer1           Web
10908   Personal Auto   Personal L1            Offer1        Branch
10909   Personal Auto   Personal L1            Offer4           Web

       total claim amount  vehicle class  vehicle size           vehicle type  \
0              292.800000  Four-Door Car       Medsize  0    A\ndtype: object
1              744.924331  Four-Door Car       Medsize  0    A\ndtype: object
2              480.000000            SUV       Medsize                      A
3              484.013411  Four-Door Car       Medsize                      A
4              707.925645  Four-Door Car       Medsize  0    A\ndtype: object
...                   ...            ...           ...                    ...
10905         1214.400000     Luxury Car       Medsize                      A
10906          273.018929  Four-Door Car       Medsize                      A
10907          381.306996     Luxury SUV       Medsize  0    A\ndtype: object
10908          618.288849            SUV       Medsize                      A
10909         1021.719397            SUV       Medsize  0    A\ndtype: object

      just_month
0              2
1              1
2              2
3              1
4              1
...          ...
10905          1
10906          1
10907          2
10908          2
10909          1

[10910 rows x 27 columns]

In [16]:
data['just_month'].unique()

array([2, 1], dtype=int64)

## 7. Put all the previously mentioned data transformations into a function.

In [17]:
y = lambda x: x.month

def first_quarter_info (x):
    x = pd.to_datetime(x, errors='coerce')
    data['just_month'] = x.apply(y)
    return data[(data['just_month']==1) | (data['just_month']==2) | (data['just_month']==3)] 

first_quarter_info(data['effective to date'])

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type,just_month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,0 A\ndtype: object,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,0 A\ndtype: object,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,0 A\ndtype: object,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,0 A\ndtype: object,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,0 California\ndtype: object,6857.519928,0 No\ndtype: object,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,0 A\ndtype: object,1

## 8. BONUS

### 8.1. List Comprehensions

#### 8.1.1 Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'.

#### 8.1.2. Use a list comprehension to create a list with the same elements rounded to 2 decimal positions.

In [1]:
a = [
    0.84062117, 0.48006452, 0.7876326 , 0.77109654,
    0.44409793, 0.09014516, 0.81835917, 0.87645456,
    0.7066597 , 0.09610873, 0.41247947, 0.57433389,
    0.29960807, 0.42315023, 0.34452557, 0.4751035 ,
    0.17003563, 0.46843998, 0.92796258, 0.69814654,
    0.41290051, 0.19561071, 0.16284783, 0.97016248,
    0.71725408, 0.87702738, 0.31244595, 0.76615487,
    0.20754036, 0.57871812, 0.07214068, 0.40356048,
    0.12149553, 0.53222417, 0.9976855 , 0.12536346,
    0.80930099, 0.50962849, 0.94555126, 0.33364763
]

### 8.2. Lambdas

#### 8.2.1. Using Lambda Expressions in List Comprehensions

In the following challenge, we will combine two lists using a lambda expression in a list comprehension.

To do this, we will need to introduce the zip function. The zip function returns an iterator of tuples.

The way zip function works with list has been shown below:

In this exercise we will try to compare the elements on the same index in the two lists. We want to zip the two lists and then use a lambda expression to compare if: list1 element > list2 element